* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

img {
  padding-bottom: 5px; 
}

#images {
  line-height: 15px;
    
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           5px;  
}
  
#images img {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #images {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}

@media (max-width: 1000px) {
  #images {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}

@media (max-width: 800px) {
  #images {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #images {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

#head {
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
  background-color: lightgray;
}

#foot {
  height: 70px;
  width: 100%;
  margin-top: 5px;
  background-color: lightgray;
  padding-top: 40px;
  margin-top: 20px;
}

#engine {
  padding-top: 18px;
}

#text {
  padding-left: 5px;
  height: 30px;
  width: 300px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

input:focus {
  outline-color: gray;
}

#submit {
  width: 34px;
  height: 34px;
  color: white;
  background-color: gray;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#submit:focus {
  outline-color: gray;
}

.nextButton {
  height: 30px;
  width: 90px;
  color: white;
  background-color: gray;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;

}

.container {
  position: relative;
  display: inline-block;
}

#inner {
  display: none;
  position: absolute;
  bottom: 5px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: white;
  font-size: 1.2em;
  background-color: gray;
  width: 100%;
  opacity: 0.9;
  pointer-events:none;
}

#inner::first-letter {
  text-transform: capitalize;
}

img:hover + #inner {
  display: block;
}

#home {
  width: 32px;
  height: 32px;
  color: white;
  background-color: gray;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

#home:focus {
  outline-color: gray;
}


